<a href="https://colab.research.google.com/github/eumoas/PythonFundamentos/blob/master/Projeto_de_Vendas_Miriam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import os
import pandas as pd

# Passo 1 - Percorrer todos os arquivos da pasta base de dados (Pasta Vendas)
lista_arquivo = os.listdir("/content/drive/MyDrive/Curso Básico de Python/Vendas")
display(lista_arquivo)

['Devolucoes - Fortaleza.csv',
 'Vendas - Recife.csv',
 'Vendas - Belo Horizonte.csv',
 'Vendas - Porto Alegre.csv',
 'Devolucoes - Rio de Janeiro.csv',
 'Vendas - Fortaleza.csv',
 'Devolucoes - Belo Horizonte.csv',
 'Devolucoes - Recife.csv',
 'Devolucoes - Porto Alegre.csv',
 'Devolucoes - Salvador.csv',
 'Devolucoes - São Paulo.csv',
 'Vendas - Curitiba.csv',
 'Devolucoes - Goiás.csv',
 'Devolucoes - Curitiba.csv',
 'Vendas - Salvador.csv',
 'Vendas - São Paulo.csv',
 'Vendas - Rio de Janeiro.csv',
 'Vendas - Goiás.csv']

In [7]:
tabela_total = pd.DataFrame()

# Passo 2 - Importar as bases de dados de vendas
for arquivo in lista_arquivo:
  # se tem "Vendas" no nome do arquivo, então
  if "Vendas" in arquivo:
    # importar o arquivo
    tabela = pd.read_csv(f"/content/drive/MyDrive/Curso Básico de Python/Vendas/{arquivo}")
    tabela_total = tabela_total.append(tabela)

# Passo 3 - Tratar / Compilar as bases de dados
display(tabela_total)

<ipython-input-7-f4425be62061>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-7-f4425be62061>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-7-f4425be62061>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-7-f4425be62061>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-7-f4425be62061>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-7-f4425be62061>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-7-f4425be62061>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-7-f4425be62061>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)
<ipython-input-7-f4425be62061>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,1,HL4379,Televisão,3,Renan,Nascimento,9/14/2018,Recife,2500,NaN
1,24,HL2714,Tablet,5,Carla,Zakhm,11/13/2018,Recife,1600,NaN
2,26,HL1918,iPhone,4,Bianca,Tatsch,10/10/2018,Recife,5300,NaN
3,35,HL1918,iPhone,3,Guido,Monteiro,4/18/2018,Recife,5300,NaN
4,44,HL4379,Televisão,1,Eduardo,Quindeler,7/20/2018,Recife,2500,NaN
...,...,...,...,...,...,...,...,...,...,...
727,9925,HL1918,iPhone,2,Victor,Gomes,1/9/2018,Goiás,5300,NaN
728,9937,HL8851,Notebook,2,Gabriel,Ribeiro,11/28/2018,Goiás,3500,NaN
729,9943,HL2714,Tablet,2,Giuseppe,Borges,10/5/2018,Goiás,1600,NaN
730,9968,HL2714,Tablet,2,Caio,Caldas,4/4/2018,Goiás,1600,NaN
731,9975,HL8851,Notebook,2,Anna,Maia,10/22/2018,Goiás,3500,NaN

In [8]:

# Passo 4 - Calcular o produto mais vendido (em quantidade)
tabela_produtos = tabela_total.groupby('Produto').sum()
tabela_produtos = tabela_produtos[["Quantidade Vendida"]].sort_values(by="Quantidade Vendida", ascending=False)
display(tabela_produtos)

<ipython-input-8-5ba6603b89ac>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tabela_produtos = tabela_total.groupby('Produto').sum()

            Quantidade Vendida
Produto
iPhone                    8974
Televisão                 5931
Notebook                  3249
Android                   3183
SmartWatch                2980
Tablet                    2921
Câmera                    2805

In [9]:

# Passo 5 - Calcular o produto que mais faturou (em faturamento)
tabela_total['Faturamento'] = tabela_total['Quantidade Vendida'] * tabela_total['Preco Unitario']

tabela_faturamento = tabela_total.groupby('Produto').sum()
tabela_faturamento = tabela_faturamento[["Faturamento"]].sort_values(by="Faturamento", ascending=False)
display(tabela_faturamento)

<ipython-input-9-bf3014426bbf>:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tabela_faturamento = tabela_total.groupby('Produto').sum()

            Faturamento
Produto
iPhone         47562200
Televisão      14827500
Notebook       11371500
Android        10822200
Câmera          5890500
Tablet          4673600
SmartWatch      4172000

In [10]:
# Passo 6 - Calcular a loja/cidade que mais vendeu (em faturamento) - criar um gráfico/dashboard
# Passo 6 - Calcular a loja/cidade que mais vendeu (em faturamento) - criar um gráfico/dashboard
tabela_lojas = tabela_total.groupby('Loja').sum()
tabela_lojas = tabela_lojas[['Faturamento']]
display(tabela_lojas)

<ipython-input-10-224548fa8926>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tabela_lojas = tabela_total.groupby('Loja').sum()

                Faturamento
Loja
Belo Horizonte      6480300
Curitiba            7060500
Fortaleza          14087900
Goiás               7441800
Porto Alegre        6868600
Recife              7303000
Rio de Janeiro     14867800
Salvador           13111300
São Paulo          22098300

In [11]:
import plotly.express as px

grafico = px.bar(tabela_lojas, x=tabela_lojas.index, y='Faturamento')
grafico.show()